/*!
 * Bootstrap overrides BEGIN
 */

body {
	font-family: Lucida Console, Monaco, monospace;
    background: #FFFFFF;
    color: #212222;
}

blockquote {
    border-left: 10px solid #FFB88C;
    padding: 0 3em;
    margin: 3em 0;
}

a {
    padding-bottom: 2px;
    border-bottom: #d1cac0 1px solid;
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: #030303 1px solid;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .container-fluid {
        max-width: 900px;
    }
}

/*!
 * Bootstrap overrides END
 */

.blog-post {
     font-size: 1.0em;
     line-height: 1.7em;
}

.blog-post-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
}

.hero {
	margin-bottom: 90px;
}

.hero img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.hero p {
    margin: 0px;
}

.ai-page-header {
    margin-top: 5px;
    margin-bottom: 40px;
}

.ai-page-header > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 480px) {
    .ai-page-header {
        margin-top: 40px;
    }
    .ai-page-header > .container-fluid {
        padding-right: 90px;
        padding-left: 90px;
    }
}

.nav-center {
	padding-left: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	list-style: none
}

.nav-center > li {
    display: inline;
}

.nav-center > li > a {
	display: inline-block;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}

.nav-center > li > a:hover,
.nav-center > li > a:focus {
    background-color: inherit;
}

.blog-post {
    margin-bottom: 90px;
}

.blog-post-meta-glyph {
    color: #9d5c4c;
    font-size: 20px;
}

.blog-post-meta {
    margin-bottom: 0px;
    margin-left: 5px;
    color: #9d5c4c;
    font-size: 20px;
}

.blog-post-title {
    margin-top: 0px;
    margin-bottom: 40px;
}

.blog-post-title a {
    border: none;
}

.blog-post-title::first-letter {
    color: #ff0000;
}

.blog-post-title a:hover {
    border-bottom: #030303 1px solid;
}

.footer {
    padding-top: 19px;
    color: #777;
    font-style: italic;
    font-size: 12px;
}
