/*!
 * Bootstrap overrides BEGIN
 */
body {
    font-family: Helvetica, Lucida Console, Monaco, monospace;
    background: #ffffff;
    color: #212222;
}

blockquote {
    border-left: 10px solid #ffb88c;
    padding: 0 3em;
    margin: 3em 0;
}

a {
    padding-bottom: 0px;
    border-bottom: #d1cac0 1px solid;
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: #030303 1px solid;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/*!
 * Bootstrap overrides END
 */

.hero {
    margin-bottom: 90px;
}

.hero img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.hero p {
    margin: 0px;
}

.ai-page-header {
    margin-top: 5px;
    margin-bottom: 40px;
}

.nav-center {
    padding-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    list-style: none;
}

.nav-center > li {
    display: inline;
}

.nav-center > li > a {
    display: inline-block;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.nav-center > li > a:hover,
.nav-center > li > a:focus {
    background-color: inherit;
}

.blog-post {
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 90px;
}

.blog-post-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
}

.blog-post-meta-glyph {
    color: #9d5c4c;
    font-size: 20px;
}

.blog-post-meta {
    margin-bottom: 0px;
    margin-left: 5px;
    color: #9d5c4c;
    font-size: 20px;
}

.blog-post-title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.blog-post-title a {
    border: none;
    padding-bottom: 0px;
}

.blog-post-title::first-letter {
    color: #f76565;
}

.blog-post-title a:hover {
    border-bottom: #f76565 3px solid;
}

.archive-post {
    margin-bottom: 2px;
}

.archive-post a {
    border: none;
    padding-bottom: 0px;
}

.archive-post a:hover {
    border-bottom: #f76565 3px solid;
}

.footer {
    padding-top: 19px;
    color: #777;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}
