---
layout: default
---

<article class="blog-post">
    <div class="row">
        <div class="col-lg-12">
            <header>
                <span class="glyphicon glyphicon-bookmark blog-post-meta-glyph"></span>
                <span class="blog-post-meta">{{ page.date | date:"%Y"}} {{ page.date | date:"%b" | upcase}} {{ page.date | date:"%d"}}</span>
                <h2 class="blog-post-title">
                    <a href="{{ post.url }}">{{ page.title | upcase}}</a>
                </h2>
            </header>
            <section class="blog-post-content">
                {{ content }}
            </section>
        </div>
    </div>
</article>
